body
{
    background-color:#FFC059FF;
    text-align: center;
}
h1, h2, h6{
  color: #4A3218FF;
}

h3{
  color: #ffff;
}

h1, h2{
  margin:0 0 .5em 0;
  font-size:2.3em;
  letter-spacing:0.05em;
  font-weight:200;
}

p{
  margin-bottom:2em;
  color:#786f63;
  font-size:.8em;
  }

.App-logo
{
  height: 50vmin;
  pointer-events: none;
}

.Blender-logo
{
  height: 10vmin;
  pointer-events: none;
}


.App-header
{
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  margin-top: 2vmin;
  background-color: cornflowerblue;
}

.icon_base
{
    margin-top: 5vmin;
}

.alert_text
{
    margin-top: 2vmin;
    max-width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
}

.alert_text p{
  color: #4A3218FF;
}

.bg_col-sm_l{
  background-color: transparent;

}

.bg_col-sm-r{
  background-color: #FFCE5FFF;
}
.footer_bg{
  background-color: #343233FF;
}
.a_none{
  text-decoration: none;
}

.footer.rodape{
    bottom:0;
    position: absolute;
    min-width: 100%;
}

.bg_border{
  border-color: #4A3218FF;
  border-width: thin;
  border-style: solid;
}